---
title: {{.Title}}
created: {{.Date}}
modified:
tags:
  - tasks 
  - task-echo
{{- range .Tags}}
  - {{.}}
{{- end}}
---
## Links
{{- range .Links}}
[[{{.}}]]
{{- end}}

## Tasks

### High Priority
### Medium Priority
### Low Priority
