---
title: {{.Title}}
created: {{.Date}}
modified:
up: "[[{{.Upstream}}]]"
tags:
{{- range .Tags}}
  - {{.}}
{{- end}}
---

## 🧠 Brainstorming and Planning

### What is the overarching goal of this version?

### List potential features or enhancements for this version.

### Prioritize features based on importance and feasibility.

## 🗂️ Task Breakdown

- [ ]
    - [ ]
    - [ ]

- [ ]
    - [ ]
    - [ ]

- [ ]
    - [ ]
    - [ ]

---

## Notes

### Date Here

Notes

### Date Here

Notes

--- 

{{- range .Links}}
[[{{.}}]]
{{- end}}
