---
title: {{.Title}}
created: {{.Date}}
modified:
fulfilled: {{.Fulfilled}}
up: "[[{{.Upstream}}]]"
tags:
{{- range .Tags}}
  - {{.}}
{{- end}}
---

{{.Content}}

---

## **Relations**

{{- range .Links}}
[[{{.}}]]
{{- end}}
